.centered{
    align-content: center;
    overflow: hidden;
    font-size: 20px;    
  }
  
  .flex-container .card {
    /*ackground-color:wheat;*/
    color: grey;
    height: 45vh;
    width: 45vw;
    margin-top: -20vh;
    margin-left: -20vw;
    box-shadow: 5px 19px 38px rgba(0,0,0,.3),0 1px 12px rgba(0,0,0,.22);
    background: #272727;
  }
  
  .picture-card{
    background-color:whitesmoke;
    color: grey;
    width:24.75vw;
    height: 36vh;
    box-shadow: 5px 19px 38px rgba(0,0,0,.3),0 1px 12px rgba(0,0,0,.22);
    margin-top: -30vh;
    margin-left: 10vw;
  }